@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-image: url("https://img.freepik.com/premium-photo/morjim-ashwem-mandrem-beach-aerial-panoramic-view-from-chapora-fort-north-goa-india_78361-9391.jpg?w=996");
    height: 100vh;
    width: 100vh;
    background-size: cover;
}

.card {
    text-align: center;
    background-color: lightblue;
    border-radius: 50px;
}

.heading {
    text-decoration: underline;
    font-family: Lobster;
}

.paragraph {
    font-family: Lobster;
    padding: 10px;
}

.button {
    background-color: #97f03e;
    border-radius: 15px;
    border-width: 0px;
    padding: 5px;
    font-family: Monoton;
}